HashCode2019/app
HashCode2019/.vscode/launch.json
HashCode2019/.vscode/tasks.json
HashCode2019/app.dSYM/Contents/Info.plist
HashCode2019/app.dSYM/Contents/Resources/DWARF/app
HashCode2019/.vs/
HashCode2019/HashCode2019/x64/Release/
*.suo
*.db
*.idb
*.pdb
*.tlog
*.ilk
*.obj
*.ipch
*.log
*.exe
*.user
*.opendb
HashCode2021/.vs
HashCode2021/HashCode2020/x64/Debug/HashCode2020.exe.recipe
